{% extends 'blog/base.html' %}

{% block content %}
    <div class="artigo">
        {% if artigo.data_publicacao %}
            <div class="data">
                <p>Publicado por {{ artigo.autor }} em {{ artigo.data_publicacao }}</p>
            </div>
        {% endif %}

        <h2><a href="{% url 'artigo_detalhe' pk=artigo.pk %}">{{ artigo.titulo }}</a></h2>
        <p>{{ artigo.texto|linebreaksbr }}</p>
        {% if user.is_authenticated %}
            <a class="btn btn-default" href="{% url 'artigo_eliminar' pk=artigo.pk %}">
                Eliminar
            </a>

            <a class="btn btn-default" href="{% url 'artigo_editar' pk=artigo.pk %}">
                Editar
            </a>

            {% if not artigo.data_publicacao %}
                <a class="btn btn-default" href="{% url 'artigo_publicar' pk=artigo.pk %}">
                    Publicar
                </a>
            {% endif %}

        {% endif %}
    </div>
{% endblock %}